<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:macro name="lidar_sensor" params="
        prefix:=''
        parent:='base_link'
        frame_id:='lidar'
        xyz_offset:='0 0 0.5'
        rpy_offset:='0 0 0'
        inertial_xyz_offset:='0 0 0'
        inertial_rpy_offset:='0 0 0'
        mass:=0.100
        length:=0.0543
        width:=0.047
        height:=0.035
        rotation_speed:=10
        min_range:=0.03
        max_range:=12.0
        samples:=450   
        resolution:=0.8
        material_name:='imu_black'
        material_color:='0.1 0.1 0.1 1'
        gazebo_material_ambient:='0.1 0.1 0.1 1'
        gazebo_material_diffuse:='0.1 0.1 0.1 1'
        gazebo_material_specular:='0.1 0.1 0.1 1'
        topic_name:='lidar/data'
        always_on:=true"> <!-- Samples er scan per rot. så 4500Hz sample med 10Hz rot = sample på 450-->

        <xacro:property name="ixx" value="${(mass/12.0) * (height*height + width*width)}" />
        <xacro:property name="iyy" value="${(mass/12.0) * (length*length + height*height)}" />
        <xacro:property name="izz" value="${(mass/12.0) * (length*length + width*width)}" />

        <link name="${prefix}${frame_id}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="${material_name}">
                    <color rgba="${material_color}"/>
                </material>
            </visual>

            <inertial>
                <mass value="${mass}" />
                <origin xyz="${inertial_xyz_offset}" rpy="${inertial_rpy_offset}"/>
                <inertia
                    ixx="${ixx}"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="${iyy}"
                    iyz="0.0"
                    izz="${izz}" />
            </inertial>
        </link>

        <joint name="${prefix}${frame_id}_joint" type="fixed">
            <parent link="${prefix}${parent}"/>
            <child link="${prefix}${frame_id}_link" />
            <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        </joint>

        <gazebo reference="${prefix}${frame_id}_link">
            <material>
                <ambient>${gazebo_material_ambient}</ambient>
                <diffuse>${gazebo_material_diffuse}</diffuse>
                <specular>${gazebo_material_specular}</specular>
            </material>
            <sensor name="${prefix}${frame_id}_link" type="gpu_lidar">
                <pose relative_to='${prefix}${frame_id}_link'>0 0 0 0 0 0</pose>
                <topic>${topic_name}</topic>
                <update_rate>${rotation_speed}</update_rate>
                <frame_name>${prefix}${frame_id}_link</frame_name>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>${samples}</samples>
                            <resolution>1</resolution>
                            <min_angle>-${M_PI}</min_angle>
                            <max_angle>${M_PI}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${min_range}</min>
                        <max>${max_range}</max>
                        <resolution>0.01</resolution>
                    </range>
                </ray>
                <always_on>${always_on}</always_on>
                <visualize>false</visualize>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>